NET "pwmModule1/clk" KEEP = "FALSE";
NET "CLK_66MHZ" LOC = K15;
NET "CLK_66MHZ" IOSTANDARD = LVCMOS33;
NET "CLK_66MHZ" TNM_NET = "CLK_66MHZ";
TIMESPEC TS_CLK_66MHZ = PERIOD "CLK_66MHZ" 15000 ps INPUT_JITTER 1000 ps;
NET "LED[0]" LOC = P4;
NET "LED[0]" IOSTANDARD = LVCMOS18;
NET "LED[0]" DRIVE = 8;
NET "LED[0]" SLEW = SLOW;
NET "LED[1]" LOC = L6;
NET "LED[1]" IOSTANDARD = LVCMOS18;
NET "LED[1]" DRIVE = 8;
NET "LED[1]" SLEW = SLOW;
NET "LED[2]" LOC = F5;
NET "LED[2]" IOSTANDARD = LVCMOS18;
NET "LED[2]" DRIVE = 8;
NET "LED[2]" SLEW = SLOW;
NET "LED[3]" LOC = C2;
NET "LED[3]" IOSTANDARD = LVCMOS18;
NET "LED[3]" DRIVE = 8;
NET "LED[3]" SLEW = SLOW;
NET "USER_RESET" LOC = V4;
NET "USER_RESET" IOSTANDARD = LVCMOS33;
NET "USER_RESET" PULLDOWN;
CONFIG VCCAUX  = 3.3;
NET "pwmModule1/dutyCycle[7]" KEEP = "TRUE";
NET "pwmModule1/dutyCycle[6]" KEEP = "TRUE";
NET "pwmModule1/dutyCycle[5]" KEEP = "TRUE";
NET "pwmModule1/tmp" KEEP = "TRUE";
